<ul class="al-msg-center clearfix" ng-controller="MsgCenterCtrl">
  <li uib-dropdown>
    <a href uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>{{validationsCount}}</span>

      <div class="notification-ring"></div>
    </a>

    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>User Validations</strong>
        <a ng-click="acceptAll()">Accept All</a>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="user in validations">
           <div style="float: left; width: 40%;">
            <div>{{user.username}}</div>
            <div>{{user.email}}</div>
            <div>{{ranks[user.rank]}}</div>
          </div>
          <div style="float: right;">
            <button style="margin-top: 25%" ng-click="acceptUser(user)">Valider</button>
          </div>

        </a>
      </div>
    </div>
  </li>
</ul>