<ul class="al-msg-center clearfix" ng-controller="MsgCenterCtrl">
  <li uib-dropdown>
    <a href uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>{{validationsCount}}</span>

      <div class="notification-ring"></div>
    </a>

    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>User Validations</strong>
        <a ng-click="acceptAll()">Accept All</a>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="user in validations">
           <div style="float: left; width: 40%;">
            <div>{{user.username}}</div>
            <div>{{user.mail}}</div>
            <div>{{ranks[user.rank]}}</div>
          </div>
          <div style="float: right;">
            <button style="padding: 3px 10px 3px 10px; margin-top: 7px;" class="btn btn-primary" ng-click="acceptUser(user)">&#x2714;</button>
            <button style="padding: 3px 6px 3px 6px; margin-top: 7px;" class="btn btn-danger" ng-click="removeUser(user)">&#10006;</button>
          </div>

        </a>
      </div>
    </div>
  </li>
</ul>