<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span>Crime</span>Desktop</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search" ng-controller="pageTopCtrl">
    <form name="quick_search" ng-submit="quickSearch()" >
      <i class="ion-ios-search-strong"></i>
      <input id="searchInput" type="text" ng-model="searchBar" placeholder="Search for a crime ...">
    </form>
  </div>

  <div class="user-profile clearfix">
    <div class="al-user-profile" style="width:100px;padding-top: 5px;" uib-dropdown>
      <a uib-dropdown-toggle style="color: #ffffff;">
        {{loggedUser.username}}<br>{{ranks[loggedUser.rank]}}<b class="fa fa-angle-down ng-scope" ui-sref-active="fa-angle-up" style="float: right"></b>
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href class="signout" ng-click="logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <msg-center ng-if="loggedUser.rank >= 3"></msg-center>
  </div>
</div>