<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Register a new crime" ba-panel-class="with-scroll">
                <ba-wizard >
                    <ba-wizard-step title="Identification" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         title="Internal BPD report number">
                                         <label  for="exampleUsername1">Compnos</label>
                                        <input type="number" class="form-control" style="background-color: white"  id="exampleUsername1" name="compnos"  ng-model="form.compnos" >
                                    </div>
                                    <div class="form-group" >
                                        <label for="exampleInputEmail1">Nature Code</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="exampleInputEmail1" name="nature_code"  ng-model="form.naturecode" >
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="ucrpart">UCR Part</label>
                                        <input type="number" min="1" max="3" step="1" value="1"  class="form-control" style="background-color: white"  id="ucrpart" name="ucrpart" ng-model="form.ucrpart" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div title="BPD	incident classification" class="form-group">
                                        <label for="exampleInputPassword1">Incident Type Description</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="exampleInputPassword1" name="incident_type_description" ng-model="form.incident_type_description" >
                                    </div>
                                    <div title="BRIC classifica6on of the crime code for analysis purposes" class="form-group">
                                        <label for="exampleInputConfirmPassword1">Main Crimecode</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="exampleInputConfirmPassword1" name="main_crimecode" ng-model="form.main_crimecode">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Localisation" form="vm.productInfoForm">
                        <form name="vm.productInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                         <label for="cooX">X</label>
                                        <input type="number" class="form-control" style="background-color: white"  id="cooX" name="productName" ng-model="form.x" >
                                    </div>
                                    <div class="form-group" >
                                        <label for="cooY">Y</label>
                                        <input type="number" class="form-control" style="background-color: white"  id="cooY" name="productId" ng-model="form.y" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="streetname">Street Name</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="streetname" name="productName" ng-model="form.streetname" >
                                    </div>
                                    <div class="form-group" >
                                        <label for="xstreetname">Cross Street Name (optional)</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="xstreetname" name="productId" ng-model="form.xstreetname" >

                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="reptdistrict">Reptorted District</label>
                                        <input type="text" class="form-control" style="background-color: white"  id="reptdistrict" name="reptdistrict"  ng-model="form.reptdistrict" >
                                    </div>
                                    <div class="form-group" >
                                        <label for="reporting_area">Reporting Area</label>
                                        <input type="number" class="form-control" style="background-color: white"  id="reporting_area" name="reporting_area" ng-model="form.reportingarea" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group" >
                                            <label for="localisation">Localisation</label>
                                            <input type="text" class="form-control" style="background-color: white"  id="localisation" ng-model="form.location" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Time"  form="vm.addressForm">
                        <form name="vm.addressForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="year">Year</label>
                                        <input type="number" min="1800" max="2100" step="1" value="2017" class="form-control" style="background-color: white"  id="year" name="year" ng-model="form.year" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="month">Month</label>
                                        <input type="number" min="1" max="12" step="1" value="1"  class="form-control" style="background-color: white"  id="month" name="address" ng-model="form.month" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="day_week">Day Week</label>
                                        <select class="form-control" style="background-color: white"  id="day_week" ng-model="form.day_week" title="Day in week" selectpicker>
                                            <option selected>Sunday</option>
                                            <option>Monday</option>
                                            <option>Tuesday</option>
                                            <option>Wednesday</option>
                                            <option>Thursday</option>
                                            <option>Friday</option>
                                            <option>Saturday</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datefrom">Date from</label>
                                            <p class="input-group">
                                                <input type="text" class="form-control" style="background-color: white"  uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="shift">Shift</label>
                                            <select class="form-control" style="background-color: white"  id="shift" ng-model="form.shift" title="Shift" selectpicker>
                                                <option selected>Day</option>
                                                <option>First</option>
                                                <option>Last</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Details" callback="function (){console.log('coucou')}">
                            <form class="form-horizontal" name="vm.finishForm" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" ng-model="form.shooting">
                                                <span>Shooting </span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" ng-model="form.domestic">
                                                <span>Domestic</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" >
                                                    <label for="weapon_type">Weapon Type</label>
                                                    <input type="text" class="form-control" style="background-color: white"  id="weapon_type" ng-model="form.weapon_type" >
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-12">
                            <button ng-click="createCrime()" type="button" style="width: 90%; margin-left: 5%" class="btn btn-primary">
                                <i class="glyphicon glyphicon-add" >  Create</i>
                            </button>
                                </div>
                            </div>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>